/*@tailwind base;
@tailwind components;*/
@tailwind utilities;

[x-cloak] {
    display: none;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.browse-category .browse-img .browse-img-content {
    bottom: 20px;
    left: 25px
}

.browse-category .hover-card .zoom-in {
    transition: all .4s ease-in-out
}

.browse-category .hover-card:hover .zoom-in {
    transform: scale(1.1)
}

.hover-card .zoom-in {
    transition: all .4s ease-in-out
}

.hover-card:hover .zoom-in {
    transform: scale(1.1)
}

.mt-95 {
    margin-top: 95px;
}

.service-video {
    max-width: 1400px;
}
